---=== CONTROL ===---
  El programa permitirá gestionar todos los aspectos importantes de una partida de rol, ofreciendo distintas herramientas para cada caso.
  
  DESCRIPCION DETALLADA
La ventana principal se separa por menus, cada menu ofrece una funcionalidad distinta y sus funciones estaran interconectadas dependiendo
de su utilidad.
  -Menu principal: Ventana con las siguientes opciones:
                =Nuevo(Botón): Boton que al hacer clic se mostrará otra ventana donde introducir los siguientes datos para la creacion de una nueva campaña:
                          -Nombre
                          -Rulesheet (En un futuro esta opcion en vez de ser un simple campo de texto para saber que rol se esta jugando, podria
                          ser un menu desplegable donde seleccionar una opcion que definiese varios aspectos del programa, como opciones
                          personalizadas mas adecuadas y precisas para el rol que se esta jugando)
                          -Cancelar: Botón para cancelar la operación
                          -Crear: Botón para crear la campaña. Comprobará que los dos campos estan rellenados y correctos antes de enviar
                          la información
                =Cargar(Botón): Al hacer clic en cargar se abre una nueva ventana:
                          -Campaña: Una lista desplegable que permite seleccionar todas las campañas que se han creado hasta ahora.
                          -Cancelar: Botón para cancelar la operación
                          -Aceptar: Botón para aceptar la campaña seleccionada
                          -Editar: Desbliega dos botones
                                -Cambiar Nombre: Para cambiarle el nombre a la campaña
                                -Eliminar: Abrirá una nueva ventana donde aparecerá una lista de opciones de lo que el usuario desea borrar.
                =Ajustes: Botón para abrir los ajustes del programa
                =Base de datos: Botón para abrir la base de datos
                
  -Campaña: Al cargar o haber creado una campaña nueva se nos abrirá la ventana principal de la misma donde se dispondran distintos botones
  e información detallada de la misma.
            Número de Jugadores: Un pequeño texto que hace un recuento de los jugadores que estan apuntados en esta campaña.
            Jugando: Un pequeño de texto que indica que Juego de rol se esta jugando. La información es sacada del Rulesheet.
            Detalles: Texto descriptivo de la trama principal de la campaña
            Progreso actual: Texto que indica el número total de tramas creadas y el número de tramas marcadas como completadas
  Ademas de esta información, este apartado tiene la estructura principal del programa, donde el usuario va a estar de forma continua.
  Habrá un menu en la parte superior de la ventana donde aparecerán todas las opciones posibles. Al seleccionar una, la ventana
  mostrará el apartado seleccionado.
  Exceptuando los campos de trama, descripcion y titulo el resto son listas donde se pueden añadir, editar y eliminar elementos, en los cuales
  si se hace doble clic, abre el apartado correspondiente en una ventana aparte que mostrará todos los datos correspondientes
  y ademas habra un pequeño campo de texto donde poder añadir notas especificas para ese elemento en esa trama concreta.
  ==========================================================================================================================================================================  
  ==========================================================================TRAMA===========================================================================================
  ==========================================================================================================================================================================
  En este apartado el usuario puede crear, editar y eliminar tramas para la partida. Un campo de items desplegables que
    él mismo puede organizar.
          -Puede crear carpetas
          -Puede crear tramas dentro de las carpetas
          -Se muestran distintos cuadros donde añadir o eliminar información: Nombre, descripción detallada, Jugadores, personajes, 
          lugares, notas, imagenes, ambientación
    Cada vez que una trama sea seleccionada, se modificaran el resto de elementos que hay en esta sección.
    Cualquier elemento añadido tiene un nombre personalizado, indepentientemente de su enlace correspondiente de la base de datos donde
    esta almacenado.
          -Nombre: será editable y modificará el nombre que se le ha puesto ha esa parte de la trama, puede considerarse como el
          "capitulo" de la historia
          -Descripcion detallada: Un campo de texto amplio donde poder escribir todo lo que ha de suceder en esa trama
          -Jugadores: Lista editable de los jugadores que estan implicados en esta parte de la trama.
          -Personajes: Lista editable de los personajes que estan implicados en esta parte de la trama.
          -Lugares: Lista editable que permite indicar los lugares en los que se desarrolla la trama.
          -Notas: Un campo de texto para notas rápidas para la trama.
          -Imagenes: Una lista editable para poder gestionar imagenes de referencia para distintos fines.
          -Ambientación: Una lista de musica que utilizar para cada momento de la trama.
  ==========================================================================================================================================================================  
  ==========================================================================PERSONAJES======================================================================================
  ==========================================================================================================================================================================
  Los personajes son controlados por el Master, no es lo mismo que un Jugador, el cual tiene sus personajes de forma independiente y
  diferenciada. 
  Este apartado esta repartido en tres pestañas. La primera de ellas contiene informacion básica y accesible del personaje, la segunda
  contiene una imagen del personaje subida por el propio usuario, la tercera es la ficha del personaje. No tienen porque estar en ese
  orden necesariamente.
 
 Pestaña 1: 
    Nombre y apellidos: Dos campos de texto para el nombre completo del personaje. No tienen que ser únicos.
    Residencia: Dos listas desplegables, una de ellas con las provincias o naciones, a criterio del jugador. La segunda lista desplegable
    se rellenará con las ciudades o pueblos que el usuario haya marcado que pertenecen a esa provincia o nación.
    Profesion: Un campo de texto para escribir la profesión del personaje.
    Edad: Un campo de texto para indicar la edad.
    Familia: Una lista donde se podra hacer relacion entre los personajes, permitiendo clicar en los que hay en la lista para acceder
    a sus datos en una ventana aparte. Además de que la propia lista permitira indicar que relación familiar mantienen los personajes.
    Personalidad: Campo de texto para escribir todo lo que necesita saberse de la personalidad. Como se comporta y reacciona de manera
    habitual, su forma de hablar o todo aquello que el usuario considere que debe poner.
    Cometido: Un campo de texto donde escribir el cometido que tiene el personaje en el mundo en que vive. Ya sea su sueño además
    de lo que el propio usuario tenga pensado que debe sucederle.
    Gustos personales: Campo de texto para indicar los gustos personales del personaje.
    Relación con los jugadores: Un campo de texto donde añadir la relación que mantiene el personaje con los jugadores, ya sea de forma
    individual o en conjunto.
    Historia: Un campo de texto donde escribir la historia del personaje. Adjuntar un documento complementario podría ser muy útil.
    Muerto: Un pequeño cuadro de selección para activar que se detecte al personaje como muerto o no.
  
Pestaña 2:
    Añadir: Botón para añadir una imagen. Al hacer clic se abre la ventana del explorador para buscar la imagen en el equipo y añadirla.
    Una vez añadida la pestaña mostrara la imagen y dejara seguir dandole al botón Añadir, si volvemos a realizar el proceso, la nueva
    imagen sustituirá a la anterior.
    
Pestaña 3:
    Ficha: Futuro apartado donde se podra rellenar una ficha seleccionando previamente el Rulesheet que usas para ella y que aparezcan
    los campos correspondientes. Por lo pronto permitira añadir un documento que sea la ficha. El sistema ideal sería la capacidad
    de importar un archivo que fuese un formulario y rellenase los campos dentro del programa.

==========================================================================================================================================================================  
==========================================================================JUGADORES=======================================================================================
==========================================================================================================================================================================
Nuevamente, este apartado se divide en pestañas. Con la diferencia de que es el propio usuario el que crea pestañas nuevas. Un jugador
tiene datos concretos y generales independientemente de que personaje tenga en cada partida. Desde su nombre real y su edad, hasta saber
en que campañas le tienes jugando o cualquier dato de caracter informativo.
Un jugador puede tener mas de un solo personaje. Y ademas puede estar jugando mas de un rol distinto. Por lo que la capacidad de añadir
o eliminar pestañas que contengan la ficha del personaje correspondiente es importante.
    Pestaña 1: En esta pestaña se encuentran todos los datos generales del jugador.
        Nombre:Campo de texto para el nombre real o identificativo para el jugador.
        ---
    Pestañas Personalizables:
        Seran apartados parecidos al menú completo de Personajes, pero haciendo los ajustes pertinentes para que sea especifico de
        jugadores. (Hay datos como la experiencia, o dependiendo del rol algunos atributos, habilidades o caracteristicas, que solo
        estan disponibles para los jugadores.)
        
==========================================================================================================================================================================  
==========================================================================LUGARES=========================================================================================
==========================================================================================================================================================================

    Provincias/Paises:
    Ciudades/Pueblos:
    Lugares de interes:
    Edificios:
    Ubicaciones:
