---=== CONTROL ===---
  El programa permitirá gestionar todos los aspectos importantes de una partida de rol, ofreciendo distintas herramientas para cada caso.
  
  DESCRIPCION DETALLADA
La ventana principal se separa por menus, cada menu ofrece una funcionalidad distinta y sus funciones estaran interconectadas dependiendo
de su utilidad.
  -Menu principal: Ventana con las siguientes opciones:
                =Nuevo(Botón): Boton que al hacer clic se mostrará otra ventana donde introducir los siguientes datos para la creacion de una nueva campaña:
                          -Nombre
                          -Rulesheet (En un futuro esta opcion en vez de ser un simple campo de texto para saber que rol se esta jugando, podria
                          ser un menu desplegable donde seleccionar una opcion que definiese varios aspectos del programa, como opciones
                          personalizadas mas adecuadas y precisas para el rol que se esta jugando)
                          -Cancelar: Botón para cancelar la operación
                          -Crear: Botón para crear la campaña. Comprobará que los dos campos estan rellenados y correctos antes de enviar
                          la información
                =Cargar(Botón): Al hacer clic en cargar se abre una nueva ventana:
                          -Campaña: Una lista desplegable que permite seleccionar todas las campañas que se han creado hasta ahora.
                          -Cancelar: Botón para cancelar la operación
                          -Aceptar: Botón para aceptar la campaña seleccionada
                          -Editar: Desbliega dos botones
                                -Cambiar Nombre: Para cambiarle el nombre a la campaña
                                -Eliminar: Abrirá una nueva ventana donde aparecerá una lista de opciones de lo que el usuario desea borrar.
                =Ajustes: Botón para abrir los ajustes del programa
                =Base de datos: Botón para abrir la base de datos
                
  -Campaña: Al cargar o haber creado una campaña nueva se nos abrirá la ventana principal de la misma donde se dispondran distintos botones
  e información detallada de la misma.
            Número de Jugadores: Un pequeño texto que hace un recuento de los jugadores que estan apuntados en esta campaña.
            Jugando: Un pequeño de texto que indica que Juego de rol se esta jugando. La información es sacada del Rulesheet.
            Detalles: Texto descriptivo de la trama principal de la campaña
            Progreso actual: Texto que indica el número total de tramas creadas y el número de tramas marcadas como completadas
  Ademas de esta información, este apartado tiene la estructura principal del programa, donde el usuario va a estar de forma continua.
  Habrá un menu en la parte superior de la ventana donde aparecerán todas las opciones posibles. Al seleccionar una, la ventana
  mostrará el apartado seleccionado.
  Exceptuando los campos de trama, descripcion y titulo el resto son listas donde se pueden añadir, editar y eliminar elementos, en los cuales
  si se hace doble clic, abre el apartado correspondiente en una ventana aparte que mostrará todos los datos correspondientes
  y ademas habra un pequeño campo de texto donde poder añadir notas especificas para ese elemento en esa trama concreta.
  ==========================================================================================================================================================================
    Trama: En este apartado el usuario puede crear, editar y eliminar tramas para la partida. Un campo de items desplegables que
    el mismo puede organizar.
          -Puede crear carpetas
          -Puede crear tramas dentro de las carpetas
          -Se muestran distintos cuadros donde añadir o eliminar información: Nombre, descripción detallada, Jugadores, personajes, 
          lugares, notas, imagenes, ambientación
    Cada vez que una trama sea seleccionada, se modificaran el resto de elementos que hay en esta sección.
    Cualquier elemento añadido tiene un nombre personalizado, indepentientemente de su enlace correspondiente de la base de datos donde
    esta almacenado.
          -Nombre: será editable y modificará el nombre que se le ha puesto ha esa parte de la trama, puede considerarse como el
          "capitulo" de la historia
          -Descripcion detallada: Un campo de texto amplio donde poder escribir todo lo que ha de suceder en esa trama
          -Jugadores: Lista editable de los jugadores que estan implicados en esta parte de la trama.
          -Personajes: Lista editable de los personajes que estan implicados en esta parte de la trama.
          -Lugares: Lista editable que permite indicar los lugares en los que se desarrolla la trama.
          -Notas: Un campo de texto para notas rápidas para la trama.
          -Imagenes: Una lista editable para poder gestionar imagenes de referencia para distintos fines.
          -Ambientación: Una lista de musica que utilizar para cada momento de la trama.
  ==========================================================================================================================================================================
    Personajes: Un apartado para crear, editar y eliminar personajes para la camaña.(incompleto)
  ==========================================================================================================================================================================
  *******SIGUE******
